name: Coding Style

on:
  push:
    paths:
      - "**.php"
      - "pint.json"
      - ".github/workflows/coding-style.yml"

permissions:
  contents: write

jobs:
  coding-style:
    name: Coding Style
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Fix PHP code style issues
        uses: aglipanci/laravel-pint-action@2.6

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Fix styling
